    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
    }

    #sidebar {
      width: 200px;
      background-color: #f0f0f0;
      padding: 20px;
      box-sizing: border-box;
      border-right: 1px solid #ccc;
      overflow-y: auto;
    }

    #content {
      flex: 1;
      padding: 20px;
      overflow: auto;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    #script-container {
      width: 100%;
      height: 100%;
    }